build:
  type: text
  content: >-
    #!/bin/sh



    docker build -f service-test-suite/Dockerfile -t service-test-suite:$ROOST_ENV_ID .

    docker build -f service-test-suite/Dockerfile -t service-test-suite:$ROOST_ENV_ID .

    docker build -f voter/Dockerfile -t voter:$ROOST_ENV_ID .
deploy:
  type: text
  content: "#!/bin/sh"
test: []
Last Updated By: ""
Last Updated On: 2022-07-07T08:51:34.776Z
