TF_Content: |
  #!/bin/sh

  terraform init
  terraform apply --auto-approve
TF_Repo:
  key: voter
  title: taher27/voter
  owner: taher27
  default_branch: main
  id: 496876345
TF_Branch: main
TF_Git_path: ''
TF_Uninstall: |-
  #!/bin/sh

  terraform destroy
lastUpdatedBy: Taher Mandapwala
lastUpdatedOn: 2022-08-08T11:53:19.053Z
